* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #E5E5E5;
  padding-top: 46px;
}

.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0050B3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-menu {
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}

.m-menu .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 30px 5px 12px;
  width: 100%;
  width: 336px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-panel {
  /* padding-left: 12px; */
  display: flex;
  align-items: center;
}

.navigation-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-style: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.navigation-link:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-right: 12px;
}

.navigation-link:last-child:after {
  content: "";
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-left: 12px;
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  color: #ffffff;
  font-weight: 600;
  font-style: 14px;
  line-height: 22px;
}

.icons-panel {
  display: flex;
  align-items: center;
}

.icon-link {
  display: flex;
  align-items: center;
  margin-left: 17px;
  position: relative;
}

.icon-link:last-child:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003A8C;
  margin-right: 12px;
}

.notification {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5222d;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  top: -8px;
  right: -10px;
}

.header-icon {
  fill: #002766;
}

.header-icon:hover {
  fill: #ffffff;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.menu-sidebar {
  margin-top: 18px;
  /* max-width: 192px; */
  width: 192px;
  margin-right: 12px;
}

.menu-sidebar .user {
  padding-left: 10px;
}

.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}

.menu-sidebar .user-name {
  color: #262626;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
}

.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.nav-link {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.nav-link.active {
  background: #FFFFFF;
  color: #262626;
  font-weight: bold;
}

.nav-link:hover {
  color: #262626;
  font-weight: 600;
}

.nav-text {
  font-size: 14px;
  line-height: 22px;
}

.nav-icon {
  margin-right: 8px;
}

.nav-title {
  padding-left: 10px;
  color: #262626;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0;
}

.nav-more {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-top: -12px;
}

.nav-arrow {
  margin-right: 12px;
}

.nav-more-tx {
  color: #1890FF;
  font-weight: normal;
  font-style: 14px;
  line-height: 22px;
  text-decoration: none;
}

.main-feed {
  /* max-width: 588px; */
  width: 588px;
  margin-top: 16px;
}

.create-post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}

.header-post {
  padding: 9px 16px;
  background: #f5f5f5;
  border-bottom: 1px solid #D9D9D9;
}

.create-post-title {
  margin: 0;
  color: #595959;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.body-post {
  padding: 16px 16px 24px 16px;
  display: flex;
  align-items: flex-start;
}

.create-post-input {
  width: 100%;
  padding-top: 5px;
  color: #8C8C8C;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
  overflow-x: hidden;
}

.create-post-input:active,
.create-post-input:focus {
  outline: none;
}

.footer-post {
  display: flex;
  align-items: center;
  padding: 0px 16px 16px 16px;
  flex-wrap: wrap;
}

.footer-post:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #E8E8E8;
  margin-bottom: 16px;
}

.tag {
  background: #F5F5F5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
}

.tag:active,
.tag:focus {
  outline: none;
}

.tag:last-child {
  margin-right: 0;
}

.tag-icon {
  margin-right: 8px;
}

.tag-icon:last-child {
  margin-right: 0;
}

.post {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.post-header .user-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
}

.post-author {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}

.post-more-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.post-info-time {
  display: flex;
  align-items: center;
}

.post-time {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}

.post-time:after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #bfbfbf;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
}

.settings-icon {
  cursor: pointer;
}

.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin: 16px;
}

.post-text a {
  color: #096dd9;
  text-decoration: none;
}

.post-image {
  width: 100%;
  height: auto;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
}

.likes {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.likes-num {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-left: 4px;
}

.post-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post-button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-button:active,
.post-button:focus {
  outline: none;
}

.post-button-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px;
}

.post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #E8E8E8;
  margin-bottom: 16px;
}

.right-sidebar {
  width: 384px;
  margin-left: 24px;
}

.stories {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  padding-left: 24px;
}

.stories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.stories-title {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.stories-buttons {
  display: flex;
  align-items: center;
}

.stories-archive {
  display: inline-flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}

.stories-archive:first-child:after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #bfbfbf;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
}

.stories-icon {
  vertical-align: sub;
}

.story-item-add,
.story-item  {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}

.story-image {
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #1890ff;
  margin-right: 12px;
}

.story-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  width: 100%;
  display: block;
}

.story-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  width: 100%;
  word-wrap: normal;
}

.concuria-ico {
  background-image: url(../img/conc-ico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid #1890FF;
}

.figma-ico {
  background-image: url(../img/figma-ico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid #1890FF;
}

.ant-ico {
  background-image: url(../img/ant-ico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid #1890FF;
}

.story-more {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.story-more-icon {
  margin-right: 12px;
}

.story-more-text {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  text-decoration: none;
}

.birthday {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.birthday-icon {
  margin-right: 8px;
}

.birthday-info {
  display: flex;
  align-items: center;
  margin: 0;
}

.birthday-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050B3;
  text-decoration: none;
}

.birthday-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.your-page {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
}

.your-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px 5px 21px;
  border-bottom: 1px solid #D9D9D9;
}

.yp-header-title {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin: 0;
}

.yp-btn-more {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.your-page-stats {
  display: flex;
  align-items: center;
  padding: 16px;
  flex-wrap: wrap;
}

.your-page-stats:after {
   content: "";
   width: 100%;
   height: 1px;
   background: #d9d9d9;
   margin-top: 16px;
}

.yp-stat-item {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}

.yp-stat-item-img {
  border: 1px solid #d9d9d9;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #1890ff;
  margin-right: 12px;
}

.yp-stat-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  width: 100%;
  text-decoration: none;
}

.yp-stat-text-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.yp-stat-icons {
  margin-right: 4px;
}

.yp-stat-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  word-wrap: normal;
  margin-left: 2px;
  margin-right: 4px;
}

.yp-stat-notifications {
  display: flex;
  align-items: center;
  align-content: center;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 1px 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #595959;
  cursor: pointer;
}

.your-page-footer {
  display: flex;
  align-items: center;
  padding: 0px 16px 16px 16px;
}

.yp-stat-btns {
  display: flex;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.yp-stat-btns-id1 {
  border: 1px solid #d9d9d9;
}





.tabs {
  max-width: 100%;
  margin: 0px 16px;
}

.tabs__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  background: #ffffff;
  margin: 0;
}

.tabs__link {
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  color: #595959;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.tabs__link_active {
  border: 1px solid #1890FF;
  color: #1890FF;

}

.tabs__content {
  padding: 16px 0;
}

.tabs-info-title {
  display: flex;
  align-items: center;  
  justify-content: center;
  color: #111111;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
.tabs-info-description {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8c8c8c;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}

@media (max-width: 1250px) {
  .header-block {
    max-width: 95%;
  }

  .container {
    justify-content: flex-start;
    max-width: 95%;
  }

  .right-sidebar {
    display: none;
  }
}


@media (max-width: 960px) {
  .header .user-name {
    display: none;
  }

  .navigation-panel {
    display: none;
  }
}

@media (max-width: 840px) {
  .menu-sidebar {
    position: fixed;
    left: 0;
    top: 25px;
    width: 100%;
    max-width: 250px;
    background-color: #e5e5e5;
    padding-top: 12px;
    padding-left: 2%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.2s;
  }

  .menu-sidebar.active {
    transform: translateX(0%);
  }

  .search-input {
    display: none;
  }

  .m-menu {
    display: flex;
  }

  .container {
    justify-content: center;
  }
}










